Midterm Report/intercalarReport.aux
Midterm Report/intercalarReport.log
Midterm Report/intercalarReport.out
Midterm Report/intercalarReport.synctex.gz
Midterm Report/intercalarReport.toc
Midterm Report/intercalarReport.blg
Midterm Report/intercalarReport.bbl
